@use '../abstracts/variables' as c;
@use '../abstracts/mixins' as m;
@use '../abstracts/media-queries' as *;

*,
*::after,
*::before {
    box-sizing: border-box;
}

body {
    display: grid;
    grid-template-rows: auto auto 11rem;
    min-height: 100vh;
    margin: 0;
    font-family: Friz-Quadrata-Regular; 
    letter-spacing: 2px;
    color: c.$main-color;
    padding: 0 2rem;

    @include responsive {
        padding: 0;
    }
}

label {
    display: none;
}