@use '../abstracts/variables' as c;

*,
*::after,
*::before {
    box-sizing: border-box;
}

body {
    font-family: Friz-Quadrata-Regular; 
    letter-spacing: 2px;
    color: c.$main-color;
}

label {
    display: none;
}