@font-face {
    font-family: Friz-Quadrata-Bold;
    src: url('../fonts/Friz-Quadrata-Bold.otf');
}

@font-face {
    font-family: Friz-Quadrata-Medium;
    src: url('../fonts/Friz-Quadrata-Std-Medium.otf');
}

@font-face {
    font-family: Friz-Quadrata-Italic;
    src: url('../fonts/Friz-Quadrata-Italic.ttf');
}

@font-face {
    font-family: Friz-Quadrata-Regular;
    src: url('../fonts/Friz-Quadrata-Regular.ttf');
}

@font-face {
    font-family: Beaufort-for-LOL;
    src: url('../fonts/BeaufortforLOL-Bold.woff.ttf');
}
