@use '../abstracts/variables' as c;

@mixin flexCenter($direction: row) {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: $direction;
}

@mixin selectStyling {
    font-family: Friz-Quadrata-Regular;
    border: 2px solid c.$main-color;
    background-color: c.$black-elements;
    cursor: pointer;
    color: c.$gold-1;
    outline: none;
    font-weight: 200;
}

@mixin fixedBackground {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
}