@use '../abstracts/variables' as c;
@use '../abstracts/mixins' as m;

.select-fixed {
    @include m.selectStyling;
    position: fixed;
    z-index: 10;
    bottom: 6.5rem;
    right: 40px;
    font-size: .7rem;
    align-self: center;
    padding: .5rem 0;
    letter-spacing: 2px;
    text-align-last: center;

    &__option {
       padding: 1rem 0;
       background-color: c.$secondary-color;
       line-height: 2;
    }
}

.progress-btn {
    @include m.flexCenter;
    height: 62px;
    width: 242px;
    background: linear-gradient(180deg, c.$gold-2, c.$gold-4);

    &__inner {
        background-color: c.$secondary-color;
        color: c.$main-color;
        font-family: Friz-Quadrata-Regular;
        border: none;
        padding: 1.2rem 3.4rem;
        font-size: 1rem;
        letter-spacing: 3px;
        min-width: 14.9rem;
        transition: color .2s;
        cursor: pointer;

        &:hover {
            color: c.$gold-1;
        }
    }

    &--margin-xl {
        margin-bottom: 2.6rem;
    }
}