@use '../abstracts/variables' as c;
@use '../abstracts/mixins' as m;

.select-fixed {
    position: fixed;
    bottom: 6.5rem;
    right: 40px;
    font-size: .7rem;
    font-family: Friz-Quadrata-Regular;
    font-weight: 200;
    align-self: center;
    border: 2px solid c.$main-color;
    background-color: c.$black-elements;
    color: c.$gold-1;
    outline: none;
    padding: .5rem 0;
    cursor: pointer;
    letter-spacing: 2px;
    text-align-last: center;

    &__opt {
       padding: 1rem 0;
       background-color: c.$secondary-color;
       line-height: 2;
    }
}

.progress-btn {
    @include m.flexCenter;
    height: 62px;
    width: 242px;
    background: linear-gradient(180deg, c.$gold-2, c.$gold-4);

    &__inner {
        background-color: c.$secondary-color;
        color: c.$main-color;
        font-family: Friz-Quadrata-Regular;
        border: none;
        padding: 1.2rem 3.4rem;
        font-size: 1rem;
        letter-spacing: 3px;
        min-width: 14.9rem;
        transition: color .2s;
        cursor: pointer;

        &:hover {
            color: c.$gold-1;
        }
    }
}