@use '../abstracts/mixins'as m;
@use '../abstracts/variables'as c;
@use '../abstracts/media-queries' as *;

.main-container {
    @include m.flexCenter(column);
        
    &__title {
        font-family: Beaufort-for-LOL;
        font-weight: 200;
        color: c.$white-elemets;
        font-size: 5.4rem;
        text-align: center;
        letter-spacing: 4px;
        margin: 0;
        line-height: 1.1;

        @include responsive {
            font-size: clamp(1rem, 10vw, 7rem);
            width: 95%;
        }

        &--small {
            max-width: 95%;
            font-size: 2.7rem;
            letter-spacing: 6px;
            color: c.$white-elemets;

            @include responsive {
                max-width: 95%;
                font-size: 8vw;
            }
        }
    }

    &__subtitle {
        color: c.$main-color;
        font-weight: 200;
        font-size: 1rem;
        margin: 2rem 0;
        color: c.$gold-5;

        @include responsive {
            font-size: .8rem;
            text-align: center;
            margin: 1rem 0 4rem;
            width: 95%;
        }
    }

    &__divider-con {
        @include responsive {
            display: flex;
            justify-content: center;
            overflow: hidden;
            width: 100vw;
        }
    }

    &__divider {
        width: clamp(60rem ,90vw, 70rem);

        @include responsive {
            object-fit: cover;
            width: clamp(43rem, 100vw, 90rem);

        }
    }

    &__form {
        @include m.flexCenter(column);
    }

    &__input-con {
        position: relative;
        margin: 3.5rem 0 2rem;

        @include responsive {
            margin-top: 2rem;
        }
    }

    &__placeholder {
        position: absolute;
        top: -20%;
        left: 50%;
        width: 150%;
        z-index: -1;
        color: c.$gold-1;
        font-size: 1.7rem;
        transform: translate(-50%, -50%);
        text-align: center;
        transition: transform, .4s;

        @include responsive {
            transform: scale(.5) translate(-100%, -160%);
            top: 40%;
        }

        &--small {
            font-size: .9rem;
            top: 40%;
            font-weight: 700;
        }

        &--focus {
            transform: translate(-67%, -180%);
            font-size: .8rem;
            color: c.$white-elemets;
        }
    }

    &__input {
        outline: none;
        background: transparent;
        border: none;
        border-bottom: 1px solid c.$gold-3;
        color: c.$gold-1;
        font-family: Friz-Quadrata-Regular;
        font-size: 1.7rem;
        min-width: 30rem;
        line-height: 1.7;

        @include responsive {
            margin-top: 2rem;
            min-width: 0;
            width: c.$inputs-width;
        }

        &--margin-s {
            margin: 2rem 0 2rem;
        }

        &--error {
            border-bottom: 2px solid c.$error-red;
        }
    }

    &__error-icon {
        position: absolute;
        bottom: .7rem;
        right: 1rem;
        display: none;
        height: 1.1rem;

        &--show {
            display: block;
        }
    }

    &__error-msg {
        display: none;
        color: c.$error-red;
        font-family: Spiegel, sans-serif;
        letter-spacing: 1px;
        font-size: .7rem;
        margin: -1.4rem 0 3rem;
        margin-left: -18.5rem;

        &--show {
            display: block;
        }
    }

    &__checkbox-con {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        width: 70%;

        &--margin {
            margin: 1.5rem 0;
        }
    }

    &__checkbox {
        margin-right: .6rem;
        height: 18px;
        width: 18px;
    }

    &__checkbox-label {
        color: c.$gold-1;
        display: block;
        font-family: Spiegel, sans-serif;
        font-size: .8rem;
        letter-spacing: 0;
        line-height: 1.5;
    }

    &__label-link {
        color: c.$gold-1;

        &:hover {
            color: c.$gold-6;
        }
    }

    &__download {
        margin: 2rem 0;
        font-size: .7rem;   
        text-align: center;
    }

    &__link {
        color: c.$gold-1;
    }

    &__selects-con {
        @include m.flexCenter;
        position: relative;
        margin: 6rem 0;

        @include responsive {
            flex-direction: column;
            margin: 2rem 0 1rem;
        }
    }

    &__birth-select {
        @include m.selectStyling;
        background-color: c.$secondary-color;
        padding: .6rem 1.4rem;

        @include responsive {
            width: clamp(13rem, 80vw, 35rem);
            margin-bottom: 1rem;
        }

        &:hover,
        &:focus {
            border-color: c.$gold-2;
        }

        &--small {
            padding: .6rem 1rem;
        }

        &--margin-x {
            margin: 0 .7rem;

            @include responsive {
                margin: 0 0 1rem 0;
            }
        }
    }

    &__date-error {
        position: absolute;
        top: -2rem;
        color: c.$error-red;
        font-family: Spiegel, sans-serif;
        font-size: .7rem;
        letter-spacing: 1px;

        &--hidden {
            display: none;
        }
    }
}