@use '../abstracts/mixins'as m;
@use '../abstracts/variables'as c;
@use '../abstracts/media-queries'as *;

.main-container {
    @include m.flexCenter(column);

    &__title {
        font-family: Beaufort-for-LOL;
        font-weight: 200;
        color: c.$white-elemets;
        font-size: 5.4rem;
        text-align: center;
        letter-spacing: 4px;
        margin: 0;
        line-height: 1.1;

        @include responsive {
            font-size: clamp(1rem, 10vw, 7rem);
            width: 95%;
        }

        &--small {
            max-width: 90%;
            font-size: 2.7rem;
            letter-spacing: 6px;
            color: c.$white-elemets;

            @include responsive {
                max-width: 95%;
                font-size: 8vw;
            }
        }
    }

    &__subtitle {
        color: c.$main-color;
        font-weight: 200;
        font-size: 1rem;
        margin: 2rem 0;
        color: c.$gold-5;

        @include responsive {
            font-size: .8rem;
            text-align: center;
            margin: 1rem 0 3rem;
            max-width: 90%;
        }
    }

    &__divider-con {
        @include responsive {
            @include m.flexCenter;
            overflow: hidden;
        }
    }

    &__divider {
        width: clamp(60rem, 90vw, 70rem);

        @include responsive {
            width: clamp(43rem, 100%, 90rem);
        }
    }

    &__form {
        @include m.flexCenter(column);
    }

    &__input-con {
        position: relative;
        margin: 3.5rem 0 2rem;

        &--small {
            margin: 2rem 0 1rem;
        }

        @include responsive {
            overflow: hidden;
            margin-top: 0rem;
        }
    }

    &__placeholder {
        position: absolute;
        top: -45%;
        left: 50%;
        z-index: 2;
        width: 150%;
        color: c.$gold-1;
        font-size: 1.7rem;
        transform: translate(-50%, -50%);
        text-align: center;
        transition: transform, .4s;
        pointer-events: none;

        @include responsive {
            transform: scale(.5) translate(-100%, -160%);
            top: 45%;
            color: c.$bright-elements;
        }

        &--small {
            color: c.$bright-elements;
            font-size: .8rem;
            top: 20%;
            font-weight: 700;

            @include responsive {
                top: 45%;
                font-size: 1.7rem;
            }
        }

        &--focus {
            transform: translate(-67%, -160%);
            font-size: .8rem;
            color: c.$bright-elements;

            @include responsive-small {
                transform: translate(-50%, -190%);
            }
        }
    }

    &__input {
        position: relative;
        z-index: 1;
        outline: none;
        background: transparent;
        border: none;
        border-bottom: 1px solid c.$gold-3;
        color: c.$gold-1;
        font-family: Friz-Quadrata-Regular;
        font-size: 1.7rem;
        min-width: 30rem;
        line-height: 1.2;

        @include responsive {
            margin-top: 2rem;
            min-width: 0;
            width: clamp(8rem, 90vw, 30rem);
        }

        &--error {
            border-bottom: 2px solid c.$error-red;
        }
    }

    &__error-icon {
        position: absolute;
        z-index: 3;
        bottom: .7rem;
        right: 1rem;
        display: none;
        height: 1.1rem;

        &--show {
            display: block;
        }
    }

    &__error-msg {
        display: none;
        color: c.$error-red;
        font-family: Spiegel, sans-serif;
        letter-spacing: 1px;
        font-size: .7rem;
        margin: -1.4rem 0 3rem;
        margin-left: -18.5rem;

        @include responsive-small {
            margin-left: 0;
        }

        &--show {
            display: block;
        }
    }

    &__checkbox-con {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        width: 70%;
        margin-top: .7rem;

        @include responsive {
            width: 90%;
        }

        &--m-bottom {
            margin-bottom: 1.7rem;
        }
    }

    &__checkbox {
        margin-right: .6rem;
        min-height: 18px;
        min-width: 18px;
        background-color: c.$black-elements;
        border: 2px solid c.$main-color;
    }

    &__checkbox-label {
        color: c.$gold-1;
        display: block;
        font-family: Spiegel, sans-serif;
        font-size: .8rem;
        letter-spacing: 0;
        line-height: 1.5;
    }

    &__label-link {
        color: c.$gold-1;

        &:hover {
            color: c.$bright-elements;
        }
    }

    &__download {
        margin: 2rem 0;
        font-size: .7rem;
        text-align: center;
    }

    &__link {
        position: relative;
        text-decoration: none;
        color: c.$gold-1;

        &::before {
            content: '';
            position: absolute;
            bottom: -.3rem;
            width: 100%;
            height: 1px;
            background-color: c.$dark-elements;
        }

        &::after {
            content: '';
            position: absolute;
            z-index: 5;
            bottom: -.3rem;
            left: 0;
            width: 100%;
            height: 1px;
            background-color: c.$bright-elements;
            transform: scaleX(0);
            transform-origin: center;
            transition: transform .2s cubic-bezier(.4, 0, .2, 1);
        }

        &:hover {
            color: c.$bright-elements;
        }

        &:hover::after {
            color: c.$bright-elements;
            transform: scaleX(1);
        }
    }

    &__selects-con {
        @include m.flexCenter;
        position: relative;
        margin: 6rem 0;

        @include responsive {
            flex-direction: column;
            margin: 2rem 0 1rem;
        }
    }

    &__date-error {
        position: absolute;
        top: -2rem;
        color: c.$error-red;
        font-family: Spiegel, sans-serif;
        font-size: .7rem;
        letter-spacing: 1px;

        &--hidden {
            display: none;
        }
    }
}