@use '../abstracts/mixins'as m;
@use '../abstracts/variables'as c;

.progress-bar {
    @include m.flexCenter;
    height: 4rem;
    width: 25vw;

    &__circle {
        position: relative;
        height: .4rem;
        width: .4rem;
        border-radius: 50%;
        background-color: c.$main-color;
        margin: 1rem;

        &--active {
            background-color: c.$gold-1;
        }

        &::before {
            content: '';
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            height: .85rem;
            width: .85rem;
            border-radius: 50%;
            border: 1px solid c.$main-color;
        }
    }

    &__label {
        position: absolute;
        top: 300%;
        left: 50%;
        display: block;
        font-size: .7rem;
        min-width: 4rem;
        transform: translate(-50%, -50%);

        &--active {
            color: c.$gold-1;
        }
    }

    &__line {
        width: 7rem;
        border-top: 1px solid c.$main-color;
    }

}