@use '../abstracts/variables'as c;
@use '../abstracts/media-queries' as *;

.top-bar {
    min-height: 9rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    z-index: 5;

    @include responsive {
        justify-content: center;
    }

    &__logo {
        height: 3.5rem;
        cursor: pointer;

        @include responsive {
            height: 6rem;
        }
    }
}