@use '../abstracts/mixins' as m;

.birth-date-bg {
    @include m.fixedBackground;
    background: url('../img/background/birth-date-bg.jpg') fixed no-repeat center;
    background-position-y: 15%;
    background-size: cover;
    z-index: -1;
}

