@use '../abstracts/mixins'as m;

.welcome-page-bg {
    @include m.fixedBackground;

    &::before {
        content: '';
        position: fixed;
        inset: 0;
        display: block;
        background: linear-gradient(#000000bf, #000000bf), url('../img/background/index-bg.jpg') fixed no-repeat center;
        background-size: cover;
        background-position-y: 15%;
        filter: blur(8px);
    }
}