@use '../abstracts/variables'as c;
@use '../abstracts/mixins'as m;

#welcome-page {
    background: linear-gradient(rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.75)), url('../img/welcome-bg.jpg') fixed center no-repeat;
    background-size: cover;
    background-position-y: 15%;
}

.blur-layer {
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
    width: 100vw;
    height: 100vh;
    backdrop-filter: blur(10px);
}

.main-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    &__title {
        font-family: Beaufort-for-LOL;
        font-weight: 200;
        color: c.$white-elemets;
        font-size: 5.4rem;
        text-align: center;
        letter-spacing: 4px;
        margin: 0;
        line-height: 1.1;
    }

    &__subtitle {
        color: c.$main-color;
        font-weight: 200;
        font-size: 1rem;
        margin: 2rem 0;
        color: c.$gold-5;
    }

    &__form {
        @include m.flexCenter(column);
    }

    &__email-con {
        position: relative;
    }

    &__placeholder {
        position: absolute;
        top: 35%;
        left: 50%;
        width: 100%;
        z-index: -1;
        color: c.$gold-1;
        font-size: 1.7rem;
        transform: translate(-50%, -50%);
        text-align: center;
        transition: transform, .3s;

        &--focus {
            transform: translate(-73%, -130%);
            font-size: .9rem;
            color: c.$white-elemets;
        }
    }

    &__email {
        margin: 3.5rem 0 2rem;
        outline: none;
        background: transparent;
        border: none;
        border-bottom: 1px solid c.$gold-3;
        color: c.$gold-1;
        font-family: Friz-Quadrata-Regular;
        font-size: 1.7rem;
        min-width: 30rem;
        line-height: 1.7;
    }

    &__download {
        margin: 2rem 0;
        font-size: .7rem;
    }

    &__link {
        color: c.$gold-1;
    }
}