@use '../abstracts/mixins'as m;

.welcome-page-bg {
    @include m.fixedBackground;
    background: linear-gradient(#000000bf, #000000bf), url('../img/welcome-bg.jpg') fixed no-repeat center;
    background-size: cover;
    z-index: -2;
    background-position-y: 15%;

    &::before {
        content: "";
        position: fixed;
        inset: 0;
        background: inherit;
        -webkit-filter: blur(8px);
        -moz-filter: blur(8px);
        -o-filter: blur(8px);
        -ms-filter: blur(8px);
        filter: blur(8px);
    }
}