@use '../abstracts/mixins' as m;

.last-step-bg {
    @include m.fixedBackground;
    background: url('../img/background/last-step-bg.jpg') fixed no-repeat center;
    background-size: cover;
    z-index: -1;
    background-position-y: 15%;
}