@use '../abstracts' as *;

*,
*::after,
*::before {
  box-sizing: border-box;
}

body {
  background-color: rgb(19, 19, 19);
  display: grid;
  grid-template-rows: auto auto 8rem;
  min-height: 100vh;
  margin: 0;
  font-family: Beaufort-for-LOL-medium;
  letter-spacing: 2px;
  color: $main-color;
  padding: 0 2rem;

  @include responsive {
    padding: 0;
  }
}

label:not(.custom-select__label) {
  display: none;
}
