@font-face {
  font-family: Friz-Quadrata-Regular;
  src: url('../fonts/Friz-Quadrata-Regular.ttf');
}

@font-face {
  font-family: Beaufort-for-LOL;
  src: url('../fonts/BeaufortforLOL-Bold.woff.ttf');
}
