@font-face {
  font-family: Beaufort-for-LOL;
  src: url('../fonts/BeaufortforLOL-Bold.woff.ttf');
}

@font-face {
  font-family: Beaufort-for-LOL-medium;
  src: url('../fonts/beaufortforlol-medium.otf');
}
